body{
    margin: 3em;
    padding: 5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.myBtns{
    font-size: 2em;
    padding: 10px 20px;
    border-radius: 10px;
    border-width: 4px;
    margin: 1em;
}

.myLabels{
    font-size: 2em;
    margin: 1em;
}

button:hover{
    background-color: rgb(110, 149, 32);
}
